{% extends "base.html" %}

{% block title %}
	<title>GameNews - 401.</title>
{% endblock %}

{% block connected_resources %}
	{{ super() }}
{% endblock %}

{% block content %}
	<center><h1>Отказ в доступе к запрашиваемой странице.</h1></center>
	<center><img src="{{ url_for('static', filename='img/error_401.jpg') }}" alt="401 image"></center>
	<script  type="text/javascript" src="../static/js/script.js"></script>
	<script type="text/javascript" src="../static/js/switchmode.js"></script>
{% endblock %}
