<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Кодзима гений</title>
	<link rel="stylesheet" type="text/css" href="../static/css/homestyle.css">
</head>
<body>
	<section>
		<div class="dws1">
			<div class="blocImg1"><img src="../static/img/Header.jpeg" alt="CSS эффект">
				<div class="blocText1">
					<div class="text1">
						<h2>Кодзима <span>гений</span></h2>
						<p>Дед<br> стрендинг<br>ванлав</p>
					</div>
				</div>
			</div>
		</div>
		<div class="dws2">
			<div class="blocImg2"><img src="../static/img/1.jpg" alt="CSS эффект">
				<div class="blocText2">
					<div class="text2">
						<h2>Русские <span>гении</span></h2>
						<p>Escape<br> from<br>tarkov</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script src="/script.js"></script>
</body>
</html>