<!DOCTYPE html>
<html>
    <head>
        <meta charset=" UTF-8 ">
        <link rel="stylesheet" href="../static/css/style.css" type="text/css">
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>GameNews - Об играх</title>
        {% endif %}
    </head>
    <body>
        <div class="hero">
            <div class="form-box">
                <div class="button-box">
                    <div id="btn"></div>
                    <button type="button" class="toggle-btn" onclick="register()">Регистрация</button>
                    <button type="button" class="toggle-btn" onclick="login()">Вход</button>
                </div>
            <form action="/user_registration_handler" method="post" id="register" class="input-group">
                <input type="text" name="reg-username" class="input-field" placeholder="Имя пользователя" required>
                <input type="text" name="reg-userpass" class="input-field" placeholder="Пароль" required>
                <input type="text" name="reg-usermail" class="input-field" placeholder="Почта" required>
                <button type = "sumbit" class="sumbit-btn">Регистрация</button>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for msg in messages %}
                            <h5 class="error-report">{{msg}}</h5>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </form>        
            <form action="/user_authorization_handler" method="post" id="login" class="input-group">
                <input type="text" name="auth-username" class="input-field" placeholder="Имя пользователя" required>
                <input type="text" name="auth-userpass" class="input-field" placeholder="Пароль" required>
                <input type="checkbox" name="auth-remember_pass" class="checkbox"><span>Запомнить пароль</span>
                <button type = "sumbit" class="sumbit-btn">Вход</button>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for msg in messages %}
                            <h5 class="error-report">{{msg}}</h5>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </form>
            </div>
        </div>
        <script>
            var x=document.getElementById("register")
            var y=document.getElementById("login")
            var z=document.getElementById("btn")
            
            function login(){
                x.style.left = "-650px"
                y.style.left = "60px"
                z.style.left = "110px"
            }

            function register(){
                x.style.left = "60px"
                y.style.left = "650px"
                z.style.left = "0px"
 
            }
        </script>
    </body>
</html>
