{% extends "base.html" %}

{% block meta %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block title %}
    <title>GameNews - {{article[2]}}</title>
{% endblock %}

{% block connected_resources %}
    <link rel="stylesheet" href="../static/css/pagestyle-light.css" id="theme">
    <link rel="stylesheet" title="theme" href="#">
{% endblock %}

{% block content %}
    <div class="batman">
        <center>
            <img class="idonnow1" src="{{article[6]}}" alt="first">
        </center>  
        <div class="box">
        	{% for cat, message in get_flashed_messages(True) %}
				<div class="flash {{cat}}">{{message}}</div>
			{% endfor %}
			<!-- Кнопка -->
        	<form action="{{ url_for('article_selection_handler', selection_id=article[0]) }}" method="post">
        		<p><input type="submit" value="В избранное"></p>
        	</form>
        	<!-- -->
            <h1 class="head">{{article[3]}}</h1>
            <p class="text">
            	{{article[4]}}
            </p>
        </div>
        <center>
            <img class="idonnow2" src="{{article[7]}}" alt="second">
        </center>
    <script src="../static/js/script.js"></script>
    <script src="../static/js/switchpage.js"></script>
{% endblock %}
