<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/pagestyle-light.css" id="theme">
    <link rel="stylesheet" title="theme" href="#">
    <title>Document</title>
</head>
<body>
    <header class="header">
		<nav class="navbar">
			<a href="#" class="logo">GameNews</a>
			<ul class="menu">
				<li class="item">
					<a href="#" class="link">Статьи</a>
				</li>
				<li class="item">
					<a href="#" class="link">Чат с поддержкой</a>
				</li>
				<li class="item">
					<a href="#" class="link" id="switchMode">Смена темы</a>
				</li>
				<li class="item">
					<a href="#" class="link">Выход</a>
				</li>
			</ul>
			<div class="hamb">
				<span class="bar"></span>
				<span class="bar"></span>
				<span class="bar"></span>
			</div>
		</nav>
	</header>
    <div class="batman">
        <center>
            <img class="idonnow1" src="../static/img/4-2.jpg" alt="first">
        </center>  
        <div class="box">
            <h1 class="head">Team Fortress  </h1>
            <p class="text">В уже ставшем классическим многопользовательском аркадном шутере Team Fortress было выпущено долгожданное устранения ботов. Дело в том, что уже несколько лет игру терроризировали боты, которые портили настоящим игрокам игру, компания Valve, выпустившая игру, ничего с этим не делали. <br>
                Вся драма заключается в том, что Team Fortress 2 является очень старой командной игрой, на которой выросло не одно поколение, от чего она стала в какой-то мере родной для большого количества игроков. Такое к безынициативному отношению со стороны Valve все уже давно привыкли, но такая проблема просто убивала игру. Отток людей из игры, в которой обновления не выходили уже несколько лет – это смертный приговор. Потерять последних оставшихся игроков было нельзя. Но теперь игроки могут играть спокойно, забыв об этом кошмаре, который портил им игру годами. Разработчики обратили внимание на ситуацию после того, как фанаты TF2 устроили «мирный протест», выведя хэштег #savetf2 в тренды социальных сетей, а на историю отреагировали СМИ. <br>
				Таким образом, Team Fortress 2 была спасена, и, возможно, на ней вырастет ещё не одно поколение.

            </p>
        </div>
        <center>
            <img class="idonnow2" src="../static/img/4-3.jpg" alt="second">
        </center>
    <script src="../static/js/script.js"></script>
    <script src="../static/js/switchpage.js"></script>
</body>
</html>