<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/pagestyle-light.css" id="theme">
    <link rel="stylesheet" title="theme" href="#">
    <title>Document</title>
</head>
<body>
    <header class="header">
		<nav class="navbar">
			<a href="#" class="logo">GameNews</a>
			<ul class="menu">
				<li class="item">
					<a href="#" class="link">Статьи</a>
				</li>
				<li class="item">
					<a href="#" class="link">Чат с поддержкой</a>
				</li>
				<li class="item">
					<a href="#" class="link" id="switchMode">Смена темы</a>
				</li>
				<li class="item">
					<a href="#" class="link">Выход</a>
				</li>
			</ul>
			<div class="hamb">
				<span class="bar"></span>
				<span class="bar"></span>
				<span class="bar"></span>
			</div>
		</nav>
	</header>
    <div class="batman">
        <center>
            <img class="idonnow1" src="../static/img/3-2.jpg" alt="first">
        </center>  
        <div class="box">
            <h1 class="head">Rimworld  </h1>
            <p class="text">Научно-фантастический симулятор колонии RimWorld выйдет на PlayStation и Xbox 29 июля, вместе с дополнением Royalty. Об этом заявил владелец компании Тайнен Сильвестр, который вот уже какой год поддерживает своё создание в живом состоянии. Большая доступность игры хорошо повлияет на её финансирование, что приведёт к новому контенту. Разработчики потрудились над оптимизацией проекта, создали интуитивно понятный интерфейс, который сохранил «богатую детализацую и функциональность», а также провели работу над поддержкой контроллера. Таким образом, обладатели RimWorld на PS и Xbox смогут получить отличный игровой опыт. <br>
                Сама игра является, как уже сказано выше, научно-фантастическим симулятором колонии. Вы можете выбрать свой сюжет, нравится вам управлять жертвами кораблекрушения, или же потерянным племенем. Эта игра отличается своими необычными целями. Здесь нет привычных концовок или же пути, по которому вам нужно идти. Вся суть игры заключается в создании своей, уникальной истории. Вы можете выбрать одного из трёх рассказчиков, которые будут изменять и направлять вашу историю таким образом, чтобы она стала живее и интересней. Иногда они могут быть жестоки, но главное – помнить: любая история, даже с печальным концом это прежде всего именно история. Здесь нет проигрышей, здесь есть только драма.
            </p>
        </div>
        <center>
            <img class="idonnow2" src="../static/img/3-3.jpg" alt="second">
        </center>
    <script src="../static/js/script.js"></script>
    <script src="../static/js/switchpage.js"></script>
</body>
</html>