<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/pagestyle-light.css" id="theme">
    <link rel="stylesheet" title="theme" href="#">
    <title>Document</title>
</head>
<body>
    <header class="header">
		<nav class="navbar">
			<a href="#" class="logo">GameNews</a>
			<ul class="menu">
				<li class="item">
					<a href="#" class="link">Статьи</a>
				</li>
				<li class="item">
					<a href="#" class="link">Чат с поддержкой</a>
				</li>
				<li class="item">
					<a href="#" class="link" id="switchMode">Смена темы</a>
				</li>
				<li class="item">
					<a href="#" class="link">Выход</a>
				</li>
			</ul>
			<div class="hamb">
				<span class="bar"></span>
				<span class="bar"></span>
				<span class="bar"></span>
			</div>
		</nav>
	</header>
    <div class="batman">
        <center>
            <img class="idonnow1" src="../static/img/1-2.jpeg" alt="first">
        </center>  
        <div class="box">
            <h1 class="head">Escape from Tarkov </h1>
            <p class="text">Не смотря на слабую развитость российской индустрии игр, есть некоторые игры, которые цепляют своей проработанностью, но при этом сделаны в России. Питерская компания Battlestate Games недавно выпустила большое обновление для многопользовательского шутера с особым жанром “Escape from Tarkov”. В этом обновлении сильно улучшили искусственный интеллект противников, изменили анимации персонажей, из-за чего теперь их движения выглядят естественно, а также доработали локации. Но самым ожидаемым событием с этим обновлением стал так называемый «вайп». Под вайпом подразумевают полный сброс всех аккаунтов, обнуление прогресса. Ни в одной другой игре люди не ждут полного сброса прогресса, как в Escape from Tarkov.
                Этот патч отличился нововведённым параметром FSR, который увеличивает производительность, при этом практически без потери качества картинки. <br> Этот параметр стал одним из ключевых нововведений в патче. При этом, если у вас видеокарта модели Nvidia RTX, то производительность будет ещё выше из-за Nvidia DLSS. В любом шутере от первого лица производительность играет очень важную роль, ведь количество кадров в секунду, которые видит игрок напрямую зависят на реакцию игрока. Таким образом, Battlestate Games позаботились о игроках с средними процессорами и видеокартами.
            </p>
        </div>
        <center>
            <img class="idonnow2" src="../static/img/1-3.png" alt="second">
        </center>
    <script src="../static/js/script.js"></script>
    <script src="../static/js/switchpage.js"></script>
</body>
</html>