*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    transition: 1s;
    font-family: Arial;
    font-size: 16px;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.header{
    border-bottom: 1px solid #BFFF00;
    color: white;
    transition: 1s;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-left: 100px;
    padding-right: 60px;
}
.hamb{
    display: none;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: .3s;
    background-color: #ADFF2F;
    transition: 1s;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #ADFF2F;
    margin-right: 3rem;
    transition: 1s;
}
.item{
    font-size: 1.6rem;
    font-weight: 400;
    color: #ADFF2F;
    margin-right: 3rem;
    transition: 1s;
}
.link:hover{
    color: #158078;
    transition: 1s;
}
.link:last-child{
    margin-right: 0;
}
.logo{
    font-size: 2.1rem;
    font-weight: 600;
    color:#1CAC78;
    transition: 1s;
}


@media screen and (max-width: 1100px){
    .menu{
        position: fixed;
        flex-direction: column;
        background-color: black;
        transition: 1s;
        width: 100%;
        text-align: center;
        transition: .3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, .5);
        left: -100%;
        top: 82px;
        z-index: 2;
    }
    .menu.active{
        left: 0;
    }
    .item{
        margin: 25px 0;
    }
    .hamb{
        display: block;
        cursor: pointer;
    }
    .hamb.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamb.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamb.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}
.form-articles label {
	display: inline-block; 
	min-width: 80px;
}
.form-articles p {margin: 10px 0 10px 0;}
.form-articles input[type=submit], textarea {
	font-size: 16px;
}

.flash {padding: 10px;}
.flash.success {
	border: 1px solid #21DB56;
	background: #AEFFC5;
}
.flash.error {
	border: 1px solid #FF4343;
	background: #FF9C9C;
}
.box-form{
    height: auto;
    width: 500px;
    position: relative;
    margin: 1% auto;
    background: #121910;
    padding: 10px;
    overflow: hidden;
    border-radius: 30px;
    transition: 1s;
    z-index: 1;
}
textarea {
    resize: none;
}
label{
    color: white;
    transition: 1s;
}
textarea {
    width:100%;
    resize: vertical;
    padding:15px;
    border-radius:15px;
    border:0;
    box-shadow:4px 4px 10px rgba(243, 243, 243, 0.4);
    height:150px;
    width: 400px;
    resize: none;
    transition: 1s;
}
.text-field__input{
    padding:8px;
    border:0;
    border-radius:10px;
    box-shadow:0 0 15px 4px rgba(243, 243, 243, 0.4);
    transition: 1s;
}
.button {
    padding:5px 15px; 
    background:white; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    box-shadow:0 0 15px 4px rgba(243, 243, 243, 0.4);
    transition: 1s;
}
@media screen and (max-width: 535px){
    .box-form{
        width: 321px;
    }
    textarea{
        width: 292px;
    }
}

